footer{
    @extend %basicFlex;
    background: $black;
    padding: 20px $aut-margin;
    justify-content: space-between;

    div.about-corebiz{
        color: $white;
        font-family: $nunito;

        article{
            margin: 20px 0;

            div.bar{
                @extend %bar;
                background: $white;
            }
        }
        ul{
            list-style: none;
            li{
                margin: 10px 0;
                @extend %nunito400;
                text-align: left;
            }
        }
    }

    div.btn-info{
        display: flex;
        flex-direction: column;

        a{
            display: flex;
            width: 200px;
            background: $white;
            padding: 8px 25px;
            margin: 20px 0;
            color: $black;
            text-decoration: none;
            border-radius: 5px;
            @extend %nunito600;
            text-align: left;

            img{
                margin-right: 15px;
            }
        }
    }

    div.criadores{
        display: flex;
        align-items: flex-start;

        a{
            margin: 0 20px;
        }
    }
}

@media (max-width: 768px) {
    footer{
        flex-direction: column;
        padding: 20px 5%;
    }
}