header {
    @extend %basicFlex;
    width: 76%;
    justify-content: space-between;
    margin: 10px $aut-margin;

    div.SearchBar {
        input {
            width: 35vw;
            border: none;
            border-bottom: 1px solid $gray;
            background: none;
            height: 23px;
            padding-left: 10px;
        }

        button.BtnGlass {
            background: none;
            border: none;
            position: relative;
            right: 20px;
            top: 5px;
        }
    }

    div.ColUser {
        a {
            @extend %basicFlex;
            color: $gray;
            text-decoration: none;

            img{
                margin-right: 5px;
            }

            &:hover{
                color: red;
            }
        }
    }

    div.Cart{
        cursor: pointer;
    }
}