header {
    @extend %basicFlex;
    justify-content: space-between;
    margin: 10px $aut-margin;
    height: 80px;

    div.SearchBar {
        input {
            width: 30vw;
            border: none;
            border-bottom: 1px solid $gray;
            background: none;
            height: 23px;
            padding-left: 10px;
        }

        button.BtnGlass {
            background: none;
            border: none;
            position: relative;
            right: 20px;
            top: 4px;
        }
    }

    div.ColUser {
        .menu-mobile{
            display: none;
        }
        a {
            @extend %basicFlex;
            color: $gray;
            text-decoration: none;

            img {
                margin-right: 5px;
            }

            &:hover {
                color: red;
            }
        }
    }

    div.Cart {
        cursor: pointer;
        display: flex;
        align-items: center;

        span {
            background: red;
            color: white;
            border-radius: 100%;
            font-size: 10px;
            padding: 2px 4px;
            margin-left: 2px;
            font-family: 'nunito';
        }
    }
}

@media (max-width: 768px) {
    header {
        margin: 10px 0;
        width: 100%;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        div.SearchBar {
            grid-area: 2 / 1 / 3 / 4;
            width: 100%;
            margin-top: 10px;

            input{
                width: 75%;
                margin: 0 10%;
            }
            button.BtnGlass{
                right: 90px;
            }
        }

        .ColUser {
            grid-area: 1 / 1 / 2 / 2;

            a.user-desk{
                display: none;
            }

            div.menu-mobile{
                display: block;
                a img{
                    width: 40px;
                }
            }
        }

        .LogoImg {
            grid-area: 1 / 2 / 2 / 3;
        }

        .Cart {
            grid-area: 1 / 3 / 2 / 4;
        }
    }
}