main {
    margin: 0 $aut-margin;
    position: relative;
    bottom: 100px;

    div.category {
        font-family: $nunito;
        font-size: 1.2rem;

        h2 {
            @extend %nunito900;
        }

        div.bar {
            @extend %bar;
            background: $gray;
        }
    }

    div.products {
        width: 110%;

        .slick-next:before, .slick-prev:before{
            color: black;
            font-size: 26px;
            z-index: 10;
        }

        div.card-product {
            width: fit-content !important;

            div.card-img{
                img.flag{
                    position: absolute;
                    margin-left: 135px;
                }
            }

            div.about-card-product {
                text-align: center;
                margin: 10px 0;

                h2 {
                    @extend %nunito600;
                }
            }

            div.price-product {
                h3 {
                    @extend %nunito700;
                    text-align: center
                }

                p{
                    @extend %nunito400;
                }

                button {
                    padding: 10px 25px;
                    color: $white;
                    background: $black;
                    border: none;
                    border-radius: 5px;
                    margin: 10px 0;
                    @extend %nunito700

                }
            }

        }
    }

}

@media (max-width: 768px) {
    main{
        margin: 5%;

        div.products{
            width: 100%;
            .slick-next{
                right: 0px;
            }
            .slick-prev{
                left: -10 px;
                z-index: 10;
            }
        }
    }
}