.banners-slick {
    width: 100%;
    margin: auto;
    overflow: hidden;

    .slick-next,
    .slick-prev {
        display: none;
    }

    .slick-list {
        figure {
            height: fit-content;

            figcaption {
                color: $white;
                position: relative;
                bottom: 300px;
                left: $aut-margin;
                width: 400px;

                h3 {
                    font-family: 'Nunito';
                    font-size: 45px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: 45px;
                    letter-spacing: 0em;
                    text-align: left;
                }

                h4 {
                    font-family: Nunito;
                    font-size: 25px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 41px;
                    letter-spacing: 0em;
                    text-align: left;
                }
            }
        }
    }

    .slick-dots {
        position: relative;
        bottom: 200px;

        li button:before {
            opacity: 1;
            color: #BDBDBD;
            font-size: 10px;
        }

        li.slick-active button:before {
            color: #F8475F;
        }
    }
}